* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_130 {
  width: 100%;
  height: 1964px;
  background: rgba(30,29,29,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v250_21 {
  width: 100%;
  height: 656px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 1179px;
  left: 0px;
  overflow: hidden;
}
.v250_23 {
  width: 671px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1259px;
  left: 651px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v250_24 {
  width: 753px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1352px;
  left: 651px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v239_15 {
  width: 100%;
  height: 628px;
  background: url("../images/v239_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 551px;
  left: 0px;
  overflow: hidden;
}
.v235_23 {
  width: 100%;
  height: 628px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_131 {
  width: 315px;
  height: 270px;
  background: url("../images/v15_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.v249_10 {
  width: 992px;
  height: 71px;
  background: url("../images/v249_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 405px;
  overflow: hidden;
}
.v15_133 {
  width: 132px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_134 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_135 {
  width: 205px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_136 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_137 {
  width: 183px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 571px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_138 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_139 {
  width: 150px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 393px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_140 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 15px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_141 {
  width: 210px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 782px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_142 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v235_13 {
  width: 821px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 168px;
  left: 416px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v235_15 {
  width: 655px;
  height: 497px;
  background: url("../images/v235_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 742px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v235_19 {
  width: 981px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 257px;
  left: 416px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v249_14 {
  width: 615px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 781px;
  left: 79px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v249_11 {
  width: 589px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 626px;
  left: 79px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v250_32 {
  width: 520px;
  height: 527px;
  background: url("../images/v250_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1259px;
  left: 53px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v250_65 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1855px;
  left: 593px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
