* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_82 {
  width: 100%;
  height: 1024px;
  background: rgba(30,29,29,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_83 {
  width: 315px;
  height: 270px;
  background: url("../images/v15_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.v15_84 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 911px;
  left: 594px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_85 {
  width: 132px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 389px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_86 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_87 {
  width: 205px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 549px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_88 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_89 {
  width: 183px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 960px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_90 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_91 {
  width: 150px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 782px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_92 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 15px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_93 {
  width: 210px;
  height: 70px;
  background: rgba(31,29,29,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1171px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_94 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v130_4 {
  width: 584px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 141px;
  left: 376px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v130_6 {
  width: 989px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 269px;
  left: 383px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v130_7 {
  width: 100%;
  height: 467px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v130_8 {
  width: 525px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 477px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v130_9 {
  width: 626px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 533px;
  left: 30px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_14 {
  width: 711px;
  height: 426px;
  background: url("../images/v130_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 670px;
  overflow: hidden;
}
