* {
    -fx-box-sizing: border-box;
}

.ButtonBox > Button{
	-fx-background-color: #1c1c1c;
	-fx-text-fill: white;
	-fx-font-size: 36px;
}


.v15_130 {
    -fx-background-color: rgba(30, 29, 29, 1);
}

.v250_21 {
    -fx-background-color: rgba(229, 229, 229, 1);
}

.v250_23 {
    -fx-font-family: "Inter";
    -fx-font-size: 48px;
    -fx-font-weight: Semi-Bold;
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.v250_24 {
    -fx-font-family: "Inter";
    -fx-font-size: 32px;
    -fx-font-weight: Regular;
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.v15_131 {
    -fx-image: url("v15_131.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-radius: 40px;
}

.v235_15 {
    -fx-image: url("v235_15.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-radius: 40px;
}

.v250_32 {
    -fx-image: url("v250_32.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-border-radius: 40px;
}

.v235_13 {
    -fx-font-family: "Inter";
    -fx-font-size: 48px;
    -fx-font-weight: Semi-Bold;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.v235_19 {
    -fx-font-family: "Inter";
    -fx-font-size: 32px;
    -fx-font-weight: Regular;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.v249_11 {
    -fx-font-family: "Inter";
    -fx-font-size: 48px;
    -fx-font-weight: Semi-Bold;
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.v249_14 {
    -fx-font-family: "Inter";
    -fx-font-size: 32px;
    -fx-font-weight: Regular;
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.v250_65 {
    -fx-font-family: "Inter";
    -fx-font-size: 24px;
    -fx-font-weight: Regular;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-text-alignment: center;
}
